
services:
  gosql:
    build:
      context: .
    ports:
      - "8080:8080"
    command: ./gosql
    environment:
      BIND: 0.0.0.0
      DSL_PATH: ./test_dsl
    volumes:
      - ./test_dsl:/DSL
  
  postgres:
    image: postgres:14.1
    environment:
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=01234
      - POSTGRES_DB=test
    ports:
      - "5432:5432"
